.vp-videoplayer-container{
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 15px 10px grey;
  display: flex;
  flex-direction: column;
}
.vp-videoplayer{
  flex-grow: 1;
}
.vp-videoplayer-buttons{
  background-color: black;
  display: flex;
  align-items: center;
}
.vp-videoplayer-every-button{
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  width: 35px;
  height: 35px;
  font-size: 20px;
  color: white;
}
.vp-videoplayer-blank-panel{
  flex-grow: 1;
}