.black-panel{
  background-color: black;
}
.blank-panel{
  display: inline-block;
  width: 80%
}
.player{
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 15px 10px grey;
  display: flex;
  flex-direction: column;
}
.js-video-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
button{
  border-style: none;
  cursor: pointer;
  background-color: transparent;
}
i{
  color: white;
  margin: 5px;
}